
        input {
            width: 50px;
            height: 50px;
            font-size: 25px;
            border: 5px;
            background-color: rgb(228, 227, 227);
        }

        #b1 ,#b2 , #b3 ,#b4 ,#b5 , #b6, #b7 ,#b8 , #b9 ,#b0 {
            background-color: rgb(252, 252, 252);
        }

        header input {
            width: 25px;
            height: 25px;
            font-size: 15px;
        }

        #titulo {
            
            width: 218px;
            margin-bottom: 5px;
            background-color: rgb(202, 202, 202);
            color: white;

        }

        div {
            border: 1px solid rgb(0, 0, 0);
            width: 220px;
            background-color: rgb(202, 202, 202);
            margin-left: auto;
            margin-right: auto;
            padding: 2px;
            font-family: Arial, Helvetica, sans-serif;
        }

        #back {
            width: 103px;
            
        }

        #result {
            width: 203px;
            margin-bottom: 2px;
            margin-left: 4px;
            background-color: rgb(224, 224, 224);

        }
       
        body{
            background-image: url(https://www.fonewalls.com/wp-content/uploads/2020/02/iPad-Wallpaper-HD-417.jpg);
            background-size: 100% 200%;
        }

       footer table, footer td{
            border: 2px solid white;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            font-display: block;
            background-color: rgba(240, 248, 255, 0.212);
        }